<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>iMac</string>
		<key>amount</key>
		<integer>2320000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>iMac</string>
		<key>amount</key>
		<integer>1440000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>MacBook Pro</string>
		<key>amount</key>
		<integer>2290000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>MacBook Pro</string>
		<key>amount</key>
		<real>1690000</real>
	</dict>
	<dict>
		<key>name</key>
		<string>MacBook Air</string>
		<key>amount</key>
		<integer>1440000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>MacBook</string>
		<key>amount</key>
		<integer>1690000</integer>
	</dict>
</array>
</plist>
