<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Label</key>
		<string>특징</string>
		<key>Value</key>
		<string>옆 회의실과 연결되어 있음</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>신청가능장비</string>
		<key>Value</key>
		<string>hdmi cable</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>기본장비</string>
		<key>Value</key>
		<string>보드마카, 전화기</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>기본시설</string>
		<key>Value</key>
		<string>테이블1, 의자6, 모니터</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>수용인원</string>
		<key>Value</key>
		<string>6명</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>위치</string>
		<key>Value</key>
		<string>출입문 바로 앞</string>
	</dict>
</array>
</plist>
