<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Label</key>
		<string>특징</string>
		<key>Value</key>
		<string>AppleTV</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>신청가능장비</string>
		<key>Value</key>
		<string>hdmi cable, 리모컨 건전지</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>기본장비</string>
		<key>Value</key>
		<string>보드마카, AppleTV리모컨</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>기본시설</string>
		<key>Value</key>
		<string>테이블1, 의자8, AppleTV, 40인치 모니터</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>수용인원</string>
		<key>Value</key>
		<string>8명</string>
	</dict>
	<dict>
		<key>Label</key>
		<string>위치</string>
		<key>Value</key>
		<string>기존 휴계 공간 옆</string>
	</dict>
</array>
</plist>
