<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>iMac</string>
		<key>Amount</key>
		<integer>2950000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>27형 LED 백라이트 Retina 5K P3 디스플레이</string>
		<key>Default core</key>
		<string>3.8GHz 듀얼코어 7세대 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 4.2GHz</string>
		<key>Default ram</key>
		<string>8GB 2400MHz 최대 32GB</string>
		<key>Default storage(1TB Fusion)</key>
		<integer>2</integer>
		<key>Graphic card</key>
		<string>Radeon Pro 580 8GB</string>
		<key>Port</key>
		<string>usb 3.0 x 4, ThunderBolt 3 x 2, Ethernet port x 1, sdCard reader x 1</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>iMac</string>
		<key>Amount</key>
		<integer>2570000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>27형 LED 백라이트 Retina 5K P3 디스플레이</string>
		<key>Default core</key>
		<string>3.5GHz 듀얼코어 7세대 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 4.1GHz</string>
		<key>Default ram</key>
		<string>8GB 2400MHz 최대 32GB</string>
		<key>Default storage(1TB Fusion)</key>
		<integer>1</integer>
		<key>Graphic card</key>
		<string>Radeon Pro 575 4GB</string>
		<key>Port</key>
		<string>usb 3.0 x 4, ThunderBolt 3 x 2, Ethernet port x 1, sdCard reader x 1</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>iMac</string>
		<key>Amount</key>
		<integer>2320000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>27형 LED 백라이트 Retina 5K P3 디스플레이</string>
		<key>Default core</key>
		<string>3.4GHz 듀얼코어 7세대 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 3.8GHz</string>
		<key>Default ram</key>
		<string>8GB 2400MHz 최대 32GB</string>
		<key>Default storage(1TB Fusion)</key>
		<integer>1</integer>
		<key>Graphic card</key>
		<string>Radeon Pro 570 4GB</string>
		<key>Port</key>
		<string>usb 3.0 x 4, ThunderBolt 3 x 2, Ethernet port x 1, sdCard reader x 1</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>iMac</string>
		<key>Amount</key>
		<integer>1940000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>21형 LED 백라이트 Retina 4K P3 디스플레이</string>
		<key>Default core</key>
		<string>3.4GHz 듀얼코어 7세대 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 3.8GHz</string>
		<key>Default ram</key>
		<string>8GB 2400MHz 최대 32GB</string>
		<key>Default storage(1TB Fusion)</key>
		<integer>1</integer>
		<key>Graphic card</key>
		<string>Radeon Pro 560 4GB</string>
		<key>Port</key>
		<string>usb 3.0 x 4, ThunderBolt 3 x 2, Ethernet port x 1, sdCard reader x 1</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>iMac</string>
		<key>Amount</key>
		<integer>1690000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>21형 LED 백라이트 Retina 4K P3 디스플레이</string>
		<key>Default core</key>
		<string>3.0GHz 듀얼코어 7세대 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 3.5GHz</string>
		<key>Default ram</key>
		<string>8GB 2400MHz 최대 16GB</string>
		<key>Default storage(1TB Serial ATA)</key>
		<integer>1</integer>
		<key>Graphic card</key>
		<string>Radeon Pro 555 2GB</string>
		<key>Port</key>
		<string>usb 3.0 x 4, ThunderBolt 3 x 2, Ethernet port x 1, sdCard reader x 1</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>iMac</string>
		<key>Amount</key>
		<integer>1440000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>21형 LED 백라이트 FHD sRGB 디스플레이</string>
		<key>Default core</key>
		<string>2.3GHz 듀얼코어 7세대 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 3.6GHz</string>
		<key>Default ram</key>
		<string>8GB 2133MHz 최대 16GB</string>
		<key>Default storage(1TB Serial ATA)</key>
		<integer>1</integer>
		<key>Graphic card</key>
		<string>Intel Iris Plus Graphic 640</string>
		<key>Port</key>
		<string>usb 3.0 x 4, ThunderBolt 3 x 2, Ethernet port x 1, sdCard reader x 1</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacBook Pro</string>
		<key>Amount</key>
		<integer>3490000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>15형 LED 백라이트 레티나 디스플레이</string>
		<key>Default core</key>
		<string>2.9GHz 듀얼코어 7세대 Intel Core i7</string>
		<key>Turbo Boost</key>
		<string>최대 3.9GHz</string>
		<key>Default ram</key>
		<string>16GB 2133MHz LPDDR3</string>
		<key>Default storage(SSD)</key>
		<integer>512</integer>
		<key>Graphic card</key>
		<string>Radeon Pro 560 4GB</string>
		<key>Force touch trackpad</key>
		<true/>
		<key>Touchbar</key>
		<true/>
		<key>TouchID</key>
		<true/>
		<key>Port</key>
		<string>Thunderbolt 3 x 4, non</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacBook Pro</string>
		<key>Amount</key>
		<integer>2990000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>15형 LED 백라이트 레티나 디스플레이</string>
		<key>Default core</key>
		<string>2.8GHz 듀얼코어 7세대 Intel Core i7</string>
		<key>Turbo Boost</key>
		<string>최대 3.8GHz</string>
		<key>Default ram</key>
		<string>16GB 2133MHz LPDDR3</string>
		<key>Default storage(SSD)</key>
		<integer>256</integer>
		<key>Graphic card</key>
		<string>Radeon Pro 555 2GB</string>
		<key>Force touch trackpad</key>
		<true/>
		<key>Touchbar</key>
		<true/>
		<key>TouchID</key>
		<true/>
		<key>Port</key>
		<string>Thunderbolt 3 x 4, non</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacBook Pro</string>
		<key>Amount</key>
		<integer>2290000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>13형 LED 백라이트 레티나 디스플레이</string>
		<key>Default core</key>
		<string>3.1GHz 듀얼코어 7세대 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 3.5GHz</string>
		<key>Default ram</key>
		<string>8GB 2133MHz LPDDR3</string>
		<key>Default storage(SSD)</key>
		<integer>512</integer>
		<key>Graphic card</key>
		<string>Intel Iris Plus Graphics 650</string>
		<key>Force touch trackpad</key>
		<true/>
		<key>Touchbar</key>
		<true/>
		<key>TouchID</key>
		<true/>
		<key>Port</key>
		<string>Thunderbolt 3 x 4, non</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacBook Pro</string>
		<key>Amount</key>
		<integer>2290000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>13형 LED 백라이트 레티나 디스플레이</string>
		<key>Default core</key>
		<string>3.1GHz 듀얼코어 7세대 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 3.5GHz</string>
		<key>Default ram</key>
		<string>8GB 2133MHz LPDDR3</string>
		<key>Default storage(SSD)</key>
		<integer>256</integer>
		<key>Graphic card</key>
		<string>Intel Iris Plus Graphics 650</string>
		<key>Force touch trackpad</key>
		<true/>
		<key>Touchbar</key>
		<true/>
		<key>TouchID</key>
		<true/>
		<key>Port</key>
		<string>Thunderbolt 3 x 4, non</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacBook Pro</string>
		<key>Amount</key>
		<integer>1940000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>13형 LED 백라이트 레티나 디스플레이</string>
		<key>Default core</key>
		<string>2.3GHz 듀얼코어 7세대 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 3.6GHz</string>
		<key>Default ram</key>
		<string>8GB 2133MHz LPDDR3</string>
		<key>Default storage(SSD)</key>
		<integer>256</integer>
		<key>Graphic card</key>
		<string>Intel Iris Plus Graphics 640</string>
		<key>Force touch trackpad</key>
		<true/>
		<key>Touchbar</key>
		<false/>
		<key>Port</key>
		<string>Thunderbolt 3 x 2, non</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacBook Pro</string>
		<key>Amount</key>
		<integer>1690000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>13형 LED 백라이트 레티나 디스플레이</string>
		<key>Default core</key>
		<string>2.3GHz 듀얼코어 7세대 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 3.6GHz</string>
		<key>Default ram</key>
		<string>8GB 2133MHz LPDDR3</string>
		<key>Default storage(SSD)</key>
		<integer>128</integer>
		<key>Graphic card</key>
		<string>Intel Iris Plus Graphics 640</string>
		<key>Force touch trackpad</key>
		<true/>
		<key>Touchbar</key>
		<false/>
		<key>Port</key>
		<string>Thunderbolt 3 x 2, non</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacBook air</string>
		<key>Amount</key>
		<real>1490000</real>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>13형 LED 백라이트 디스플레이</string>
		<key>Default core</key>
		<string>1.8GHz 듀얼코어 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 2.9GHz</string>
		<key>Default ram</key>
		<string>8GB 1600MHz LPDDR3</string>
		<key>Default storage</key>
		<integer>256</integer>
		<key>Graphic card</key>
		<string>Intel HD Graphics 6000</string>
		<key>Force touch trackpad</key>
		<false/>
		<key>Port</key>
		<string>2.0 x 1, Mac safe </string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacBook air</string>
		<key>Amount</key>
		<integer>1250000</integer>
		<key>Late</key>
		<string>2017년형</string>
		<key>Display</key>
		<string>13형 LED 백라이트 디스플레이</string>
		<key>Default core</key>
		<string>1.8GHz 듀얼코어 Intel Core i5</string>
		<key>Turbo Boost</key>
		<string>최대 2.9GHz</string>
		<key>Default ram</key>
		<string>8GB 1600MHz LPDDR3</string>
		<key>Default storage</key>
		<integer>128</integer>
		<key>Graphic card</key>
		<string>Intel HD Graphics 6000</string>
		<key>Force touch trackpad</key>
		<false/>
		<key>Port</key>
		<string>2.0 x 1, Mac safe </string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacBook</string>
		<key>Amount</key>
		<integer>2070000</integer>
		<key>Late</key>
		<string>2016년형</string>
		<key>Display</key>
		<string>12형 LED 백라이트 레티나 디스플레이</string>
		<key>Default core</key>
		<string>1.3GHz 듀얼코어 7세대 Intel Core i7</string>
		<key>Turbo Boost</key>
		<string>최대 3.0GHz</string>
		<key>Default ram</key>
		<string>8GB 1866MHz LPDDR3</string>
		<key>Default storage(SSD)</key>
		<integer>512</integer>
		<key>Graphic card</key>
		<string>Intel HD Graphics 615</string>
		<key>Force touch trackpad</key>
		<true/>
		<key>Port</key>
		<string>3.1 x 1, non</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
	<dict>
		<key>Name</key>
		<string>MacBook</string>
		<key>Amount</key>
		<real>1690000</real>
		<key>Late</key>
		<string>2016년형</string>
		<key>Display</key>
		<string>12형 LED 백라이트 레티나 디스플레이</string>
		<key>Default core</key>
		<string>1.2GHz 듀얼코어 Intel Core m3</string>
		<key>Turbo Boost</key>
		<string>최대 3.2GHz</string>
		<key>Default ram</key>
		<string>8GB 1866MHz LPDDR3</string>
		<key>Default storage(SSD)</key>
		<integer>256</integer>
		<key>Graphic card</key>
		<string>Intel HD Graphics 615</string>
		<key>Force touch trackpad</key>
		<true/>
		<key>Port</key>
		<string>3.1 x 1, non</string>
		<key>3.5pi earjack</key>
		<true/>
	</dict>
</array>
</plist>
